/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* Utilities  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************** 
Header Section Styles
 *********************/
.header {
    background: rgba(255, 144, 14, 0.1);
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.navbar-title h2:hover {
   color: #FF900E;
}

.navbar-item ul {
    display: flex;
    gap: 40px;
}

.navbar-item ul li {
    list-style-type: none;
}

.navbar-item ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.navbar-item ul li a:hover {
   color: #FF900E;
   transition: 0.2s;
}

/* Hero Section  */
.hero-section {
    width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.hero-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 30px;
}

.hero-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.btn {
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    width: 180px;
}

.btn:hover {
    opacity: 0.7;
}

.btn a {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.banner-image img {
    width: 100%;
    margin-top: 50px;

}

/******************** 
Main Section Styles
  ******************/

/* Feature Top Section  */
.feature-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 70px;
}

.feature-top-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-top-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    gap: 30px;
}

.feature-top-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.feature-top-title .of-our {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.feature-top-title .features {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* Feature Bottom Section  */
.feature-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 160px;
}

.feature-bottom-content-container {
    width: 80%;
}

.feature-bottom-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-bottom-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
}

/* Experience Section  */

.card {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    padding: 30px 40px 30px 30px;
}


.card h4 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.card p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}

.feature-img-container {
    margin-top: -30px;

}

/* Experience Section  */
.experience-wrap {
    background: #FF900E;
    border-radius: 8px;
    width: 342px;
    ;
    line-height: 2.5em;
    margin-top: -150px;
    margin-left: 630px;
    position: relative;
    z-index: 1;
}

.experience-wrap h1 {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    padding: 46px 42px;
    color: #FFFFFF;
}

.experience-wrap .experience {
    font-weight: 500;
    font-size: 25px;
}

/* Fact Section  */
.fact-section {
    margin-top: 130px;
}

.fact-title-description-wrap {
    width: 550px;
}

.fact-section h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
}

.fact-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.fact-card-wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px 40px;
    text-align: center;
}

.fact-card:hover {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px 40px;
    text-align: center;
    background: #FF900E;
    transition: 0.5s;
}

.fact-card:hover h3,
.fact-card:hover p {
    color: #FFFFFF;
    transition: 0.5s;
}

.fact-card img {
    width: 45.22px;
    height: 45.22px;
}


.fact-card h3 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.fact-card p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* Sponsor Section  */
.sponsor-section {
    margin-top: 180px;
}

.sponsor-title-description-wrap {
    text-align: center;
    width: 542px;
    margin: 0 auto;
}

.sponsor-title-description-wrap h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.sponsor-title-description-wrap p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
}

.sponsor-item-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.sponsor-item-wrap img {
    filter: grayscale(1);

}

.sponsor-item-wrap img:hover {
    filter: grayscale(0);
    transition: 0.2s;

}

/* Footer Section  */
.footer {
    background: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 100px;
}

.footer p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    padding: 38px 0;
}



.contact-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


/* Social Section  */
.social-media {
    font-weight: 700;
    font-size: 30px;
    line-height: 53px;
    color: #131313;

}

.fa-brands {
    padding: 20px;
    font-size: 50px;
}

.fa-brands:hover {
    color: #FF900E;
    transition: 0.5s;

}


/* Form Section  */

.contact-form h3 {
    font-weight: 700;
    font-size: 30px;
    color: #131313;
    margin-bottom: 20px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #FF900E;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    width: 180px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 24px;
}

input[type=submit]:hover {
    opacity: 0.7;
}

.form-wrap {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}